# Este archivo debe copiarse como .env en el servidor de producción (NUNCA subir a GitHub)

# Contraseña del usuario ROOT de MySQL (Cámbiala por una muy segura)
DB_ROOT_PASSWORD=mi_super_contraseña_root_123

# Usuario específico para que la aplicación (Backend) acceda a la base de datos
DB_USER=cco_app_user

# Contraseña del usuario específico
DB_PASSWORD=mi_super_contraseña_app_123
